.main{
    background:#494F55;
    width: 50vw;
    color: white;
    margin-top:5% ;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
}
.header{
    display:flex ;
    justify-content: space-between;
    align-items: center;
}
.btn{
    width: 100px;
    height: 30px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    font-family: sans-serif;
    cursor: pointer;
}
.inputWrapper{
    margin-bottom: 15px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}
.inputForm{
    padding: 10px;
    border: none;
    margin-top: 8px;
    font-family: sans-serif;
}
label{
    font-size: large;
    font-weight: 500;
    margin-bottom: 5px;
    font-family: sans-serif;
}
.btnWrapper{
    display: flex;
    gap: 20px;
}
.Card{
    background: white;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    color: black;
    font-family: sans-serif;
}
.cardSection.input{
    width: 40vh;
}

@media only screen and (max-width: 450px) {
    .col-12 {width: 85vw;}
  }